<% provide(:title, "About") %>
<h1>About</h1>
<p>Teachable is a platform to organize curricular materials for school teachers.  Users will be able to upload and organize materials for use in their classroom.  Most importantly, users will be able to browse and rate the materials uploaded by other users.</p>

<br/><br/>
  <div>Some icons made by <a href="https://www.flaticon.com/authors/balraj-chana" title="Balraj Chana">Balraj Chana</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>, which is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
