<% provide(:title, 'Contact') %>
<h1>Contact</h1>

  <div class="row">


    <div class="col-sm-8 col-sm-offset-2">
      <p>
      This app was built by former teacher Alan Wilder as an exercise to learn web development.  The code for this app is written using Ruby on Rails and javascript.  If you are interested in contributing to this app or if you are considering me for a developer position, contact me at wilderalan@gmail.com.</p>
    </div>
  </div>
