<% provide(:title, "Home") %>

<% if !logged_in? %>
<div class="center jumbotron home_page">
  <h1>Welcome to Teachable</h1>
  <h3>Teachable is a Database and Community for K-12 Learning Resources</h3><br>

    <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
    &ensp; or &ensp;
    <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>


    <br>
    <h3>or search for materials:</h3>

  <%= render 'shared/search' %>
</div>
<% else %>

<%= render 'users/home' %>


<% end %>
