<div class="comment_card">
  <div class="comment_gravatar">
    <%= gravatar_for comment.user, size: 35 %>
  </div>
  <div class="comment_text">
    <div class="comment_user">
      <%= link_to comment.user.name, comment.user %>
      <span class="comment_content"><%= comment.content %>
      </span>
    </div>
    <div class="comment_age">
      <%= time_ago_in_words comment.created_at %> ago
    </div>
  </div>
</div>
