<% provide(:title, "Discuss " + @topic.name) %>
<% provide(:discussion_type, 'topic') %>

<div class="row discussion_show">
  <h2>Discussion of <%= link_to @topic.name, @topic %> </h2>
  <div class="col-sm-8 col-sm-offset-2">
    <%= render 'shared/discussion' %>
  </div>
</div>
<%= javascript_include_tag 'discussion' %>
