<% provide :title, 'Subjects' %>
<h1>Subjects</h1>
<div class="row topic_index">
  <div class="col-sm-8 col-sm-offset-2">
    <% if @subjects.any? %>
      <% @subjects.each do |subject| %>
        <a href="<%= topic_path(subject) %>">
          <div class="topic_subject">
            <%=  subject.name  %>
          </div>
        </a>
      <% end %>
    <% end %>
  </div>
</div>
