<% provide(:title, @topic.name) %>
<% provide(:discussion_type, 'topic') %>

<h1><%= @name %></h1>
<br>
<div class="row">
  <div class="topic_show col-md-4">
    <%= link_to 'All Subjects', topics_path %> >>
    <% if @parent_parent %>
     <%= link_to @parent_parent.name, @parent_parent %> >>
   <% end %>
    <% if @parent %>
       <%= link_to @parent.name, @parent %> >>
    <% end %>
    <em><%= @name %></em>
    <% if @children.any? %>
      <h3><%= @name %> <%= @parent.nil? ? "Courses" : "Topics" %></h3>
        <% @children.each do |child| %>
          <span class="topic_children">
            → <%= link_to child.name, child %>
          </span>
        <% end %>
    <% end %>
    <h3>Materials about <%= @name %></h2>
    <ul class="topic_types">
      <% @materials.each do |type, similars| %>
        <li>
          <%= form_tag("/materials", method: "post") do %>
            <%= hidden_field_tag :types, type %>
            <%= hidden_field_tag :subject, @subject %>
            <%= hidden_field_tag :course, @course %>
            <%= hidden_field_tag :topic, @topic_name %>
            <%= image_submit_tag("#{type}.svg", :class => "center-block", :style => "height:70px; cursor:pointer") %>
            <%= submit_tag type.pluralize %>
          <% end %>
          <div class="topic_content_type">
            <% if !similars.empty? %>
              <%= render partial: 'shared/topic_material_card', collection: similars, as: :material %>
            <% else %>
              No materials of this type for this topic yet.
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render 'shared/discussion_box' %>
  </div>
</div>

<%= javascript_include_tag 'topic_show' %>
