<div class="user_form col-xs-12">
  <%= form_for(@user, url: yield(:form_path)) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>


    <label for="grades_taught">Grades Taught</label>
    <div class="row grade_level">
      <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2 col-xs-offset-1">
        <% grades = ['preK', 'K', '1st', '2nd', '3rd'] %>
        <% grades.each do |grade| %>
          <% if @grades %>
            <% ch = @grades.include?(grade) %>
          <% end %>
          <div class="grade_checkbox">
            <%= check_box_tag('grades[]', grade, nil, {multiple: true, id: grade, checked: ch }) %>
            <label for="<%= grade %>"> <%= grade %> </label>
          </div>
        <% end %>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
        <% grades = ['4th', '5th', '6th', '7th', '8th'] %>
        <% grades.each do |grade| %>
          <% if @grades %>
            <% ch = @grades.include?(grade) %>
          <% end %>
          <div class="grade_checkbox">
            <%= check_box_tag('grades[]', grade, nil, {multiple: true, id: grade, checked: ch }) %>
            <label for="<%= grade %>"> <%= grade %> </label>
          </div>
        <% end %>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-2 col-xs-2">
        <% grades = ['9th', '10th', '11th', '12th'] %>
        <% grades.each do |grade| %>
          <% if @grades %>

            <% ch = @grades.include?(grade) %>
          <% end %>
          <div class="grade_checkbox">
            <%= check_box_tag('grades[]', grade, nil, {multiple: true, id: grade, checked: ch }) %>
            <label for="<%= grade %>"> <%= grade %> </label>
          </div>
        <% end %>
      </div>
    </div>
    <label for="topic_ids">Subjects Taught</label>
      <div class="user_topics">
        <% @subjects.each do |subject| %>
          <div class="topic_checkbox">
            <% if @subject_topics %>
              <% ch = @subject_topics.keys.include?(subject) %>
            <% end %>
            <%= check_box_tag('topics[]', subject, nil, {multiple: true, id: subject, checked: ch}) %>
            <label for="<%= subject %>"> <%= subject %> </label>
          </div>
        <% end %>
      </div>

      <div class="user_courses">
        <% if @subject_topics %>
          <% @subject_topics.keys.each do |subject| %>
            <div id="<%= subject.sub(' ', '') %>_div">
              <label><%= subject %> Courses Taught</label>
              <div class="user_topics">
                <% @subject_topics[subject].each do |course| %>
                  <% if @course_topics %>
                    <% ch = @course_topics.include?(course) %>
                  <% end %>
                  <div class="topic_checkbox">
                    <%= check_box_tag('topics[]', course, nil, {multiple: true, id: course, checked: ch}) %>
                    <label for="<%= course %>"> <%= course %> </label>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>



    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
</div>

<%= javascript_include_tag 'user_form' %>
