<div class="user_home">
  <div class="row">
    <div class="hidden-sm hidden-md hidden-lg">
      <h2>Welcome Back, <%= @user.name %> </h2>
    </div>
    <div class="col-sm-4 col-lg-3 hidden-xs">
      <h2>Welcome Back, <%= @user.name %> </h2>
      <section class="user_info">
          <%= link_to gravatar_for(@user), @user %>
          <%= link_to 'Your Profile', @user %>
      </section>
      <%= render 'shared/activity' %>
    </div>
    <div class="col-sm-8 col-lg-9 col-xs-12">
      <% if @course_materials %>
        <h3>New Materials in Your Courses:</h3>
        <div class="row following_materials">
          <%= render partial: 'shared/home_material_card', collection: @course_materials, as: :material %>
        </div>
      <% else %>
        <div class="home_user_alert">
          <%= link_to "Update your profile", edit_user_path(current_user) %> with the courses you teach to see new materials from those courses here.
        </div>
      <% end %>
      <% if @following_materials %>
        <h3>New Materials From Users You Follow:</h3>
        <div class="row following_materials">
          <%= render partial: 'shared/home_material_card', collection: @following_materials, as: :material %>
        </div>
      <% else %>
        <div class="home_user_alert">
          <%= link_to "Follow other users", users_path %> to see their new materials here.
        </div>
      <% end %>
        <div class="home_user_alert">
          Comments on your discussion threads here.
        </div>
    </div>
  </div>
</div>
