<% provide(:title, "Edit user") %>
<% provide(:button_text, "Save changes") %>
<% provide(:form_path, user_path) %>

<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <%= render 'form' %>
    </div>
    <br/>
    <div class="row gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener">change</a>
    </div>
  </div>
</div>
