<% provide(:title, 'Sign up') %>
<% provide(:button_text, "Create my account") %>
<% provide(:form_path, signup_path) %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render  'form' %>
  </div>
</div>
