<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <%= render 'follow_form' if logged_in? %>
  </aside>
  <div class="col-md-8">

    <% if @user.materials.any? %>
      <h3> Materials shared (<%= @user.materials.count %>)</h3>
      <ol class="materials">
        <%= render @materials %>
      </ol>
      <%= will_paginate @materials %>
    <% end %>
  </div>
</div>
