<div class="discussion_box">
  <% postable = @material || @topic %>
  <% path = "discussion_#{yield(:discussion_type)}_path" %>
  <h3><%= link_to "Discussion", send(path, postable) %></h3>
  <%= render 'shared/new_post_form' %>
  <% if @posts.any? %>
    <%= render @posts %>
  <% else %>
    <p> There are no posts about this <%= yield(:discussion_type) %> yet. </p>
  <% end %>
  <div class="discussion_button">
    <%= link_to "See Full Discussion", send(path, postable), class: "btn btn-md" %>
  </div>
</div>
<%= javascript_include_tag 'discussion' %>
