<div class="row">
  <%= form_for(@review, url: first_review_path) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= hidden_field(:material, :id) %>
    <%= hidden_field(:review, :overall_rating, :value => 5) %>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <ul>
        <br/>
        <li><strong>Material Title: </strong><%= @material.title %></li>
        <li><strong>Content type: </strong><%= @material.content_type %> </li>
        <li><strong>Course: </strong><%= @material.topic.parent.name %></li>
        <li><strong>Topic: </strong><%= @material.topic.name %> </li>
        <% if @material.link && !@material.link.empty? %>
          <li><strong>Link: </strong><%= link_to @material.title, @material.link %> </li>
        <% end %>
        <% if @material.files.any? %>
          <li><strong>Files: </strong><%= @material.files.length %> </li>
        <% end %>
        <% if @material.time_required && !@material.time_required.empty? %>
          <li><strong>Length: </strong><%= @material.time_required %> minutes </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-8 col-sm-8 col-lg-8 review_form">
      <div class="row review_grade_levels">
        <div class="col-md-10 col-sm-10 col-xs-12 col-lg-10">
          <label for="review_grade_level_bottom">
            Grade Level:
          </label>
          <p>
            This material is suitable for students from grades
            <%= f.select :grade_level_bottom, (1..12).to_a.unshift("preK", 'K') %>
            to
            <%= f.select :grade_level_top, (1..12).to_a.unshift("preK", 'K'), :selected => '12'%>
          </p>
        </div>
      </div>
      <div class="row review_time_required">
        <div class="col-md-10 col-sm-10 col-xs-12 col-lg-10">
          <label for="review_time_required">
            Time Required:
          </label>
          <%= hidden_field :review, :time_required %>
          <p>
            <%= f.select :hours, (0..12).to_a %> hours and
            <%= f.select :minutes, (0..55).step(5).to_a %> minutes
          </p>
        </div>
      </div>
      <div class="row review_suggestions">
        <div class="col-md-10 col-sm-10 col-xs-12 col-lg-10">
          <label for="review_suggestions">
            Suggestions for this Material:
          </label>
          <%= f.text_area :suggestions %>
        </div>
      </div>
      <div class="row review_submit">
        <div class="col-md-8 col-sm-8 col-xs-8 col-xs-offset-2 col-lg-6">
          <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_include_tag 'review_form' %>
