<div class="home_material">
  <div class="row home_material_title">
    <h3>
      <%= link_to truncate(material.title, length: 40), material %>
    </h3>
  </div>
  <div class="row home_material_content_type_icon">
    <p>
      <%= link_to image_tag("#{material.content_type}.svg"), material %>
    </p>
    <p>
      <%= link_to material.content_type, material %>
    </p>
  </div>
  <div class="row home_material_content_type">
    <em>
      <%= link_to truncate(material.topic.parent.parent.name, length: 20), material.topic.parent.parent %> >>
      <%= link_to truncate(material.topic.parent.name, length: 20), material.topic.parent %> >>
      <%= link_to truncate(material.topic.name, length: 20), material.topic %>
    </em>
  </div>
  <div class="row home_material_user">
    Shared <%= time_ago_in_words(material.created_at) %> ago by <%= link_to material.user.name, material.user %>
  </div>


</div>
&ensp;
