<div class="row material_summary_box">
  <div class="col-lg-5 col-md-6 col-sm-6 col-xs-8">
    <ul>
      <li>
        <!-- note: width px is hardcoded to fit height px (see custom.css) -->
        <% if @material.reviews.any? %>
          <div class="material_rating">
            <span class="five_stars" style="width:<%= @material.average_rating/5 * 97 %>px"></span>
            <span class="zero_stars" style="width:<%= (5-@material.average_rating)/5 * 97 %>px; background:<% @material.average_rating/5 * 97 %>px"></span>
            (<em>Average rating: </em><%= @material.average_rating %>/5)
          </div>
        <% end %>
      </li>
      <li>
        <em>
          <%= link_to @material.topic.parent.parent.name, @material.topic.parent.parent %> >>
          <%= link_to @material.topic.parent.name, @material.topic.parent %> >>
          <%= link_to @material.topic.name, @material.topic %>
        </em>
      </li>
    </ul>
  </div>
  <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
    <ul>
      <li>
        <p>
          Average Time:
          <span class="material_summary_fill">
            <%= time_convert(@material.time_required) %>
          </span>
        </p>
      </li>
      <li>
        <p>
            Grade Level:
          <span class="material_summary_fill">
            <%= @material.grade_level %>
          </span>
        </p>
      </li>
    </ul>
  </div>
</div>
