<%= form_for(@material, url: upload_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= hidden_field :material, :summary %>
  <%= hidden_field :material, :time_required %>
  <div class="material_form">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-10">
        <label for="material_title">
          Give a title to the material you would like to share:
        </label>
        <%= f.text_field :title, class: 'form-control', placeholder:'Give a title to this material' %>
      </div>
      <div class="col-md-2 col-sm-2 col-lg-2">
        <br/>
        <button type=button class="btn btn-lg btn-primary" id="link_button">
          Share a Link?
        </button>
      </div>
    </div>
    <div class="material_link hidden">
      <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-12 col-lg-10">
          <label for="link">Link:</label>
          <%= f.url_field :link, class: 'form-control', placeholder:'Enter the web address of material you would like to share' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
        <div class="file_content_types">
          <%= f.label :What_type_of_material_is_this? %>
          <%= f.select(:content_type, ['Minor Assignment', 'Major Assignment', 'Slideshow', 'Image', 'Video', 'Website', 'Assessment', 'Reading', 'Other'].sort)
          %>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
        <div class="duration review_form hidden">
          <label for="material_time_required">
            Duration:
          </label>
          <%= hidden_field :review, :time_required %>
          <p>
            <%= f.select :hours, (0..12).to_a %> hours and
            <%= f.select :minutes, (0..59).to_a %> minutes
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-11">
        <p> What course and topic is this material for? <p>
        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
          <%= f.label :subject %>
          <%= f.select(:subject , @subjects,{}, :class => 'subject') %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
          <%= f.label :course %>
          <%= f.select(:course, @courses.map(&:name), {}, :class => 'course') %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-12">
          <%= f.label :topic %>
          <%= f.text_field(:topic, :autocomplete => "off") %>
          <div class="search_results">
          </div>
        </div>
      </div>
    </div>

    <div class="material_expand2">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-sm-offset-2 col-md-offset-2">
          <%= f.submit "Next Page", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_include_tag 'material_form' %>
