
<div class="row">
  <%= form_for(@material, url: '/upload2') do |f| %>
  <%= hidden_field(:material, :id) %>
  <%= hidden_field(:material, :title) %>
  <%= render 'shared/error_messages', object: f.object %>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <ul>
        <br/>
        <li><strong>Material Title: </strong><%= @material.title %></li>
        <li><strong>Content type: </strong><%= @material.content_type %> </li>
        <li><strong>Course: </strong><%= @material.topic.parent.name %></li>
        <li><strong>Topic: </strong><%= @material.topic.name %> </li>
        <% if !@material.link.empty? %>
          <li><strong>Link: </strong><%= link_to @material.title, @material.link %> </li>
        <% end %>
        <% if !@material.time_required.nil? %>
          <li><strong>Length: </strong><%= @material.time_required %> minutes </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-8 col-sm-8 col-lg-8">
      <div class="row">
        <div class="col-md-10 col-sm-10 col-xs-12 col-lg-10">
          <div class="material_files">
            <label for="files">Choose file(s) to upload with this material:</label>
            <%= f.file_field :files, multiple: true , accept: 'image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf,.odt'%>
          </div>
          <div>
            <ul class="file_preview_list">

            </ul>

          </div>
        </div>
      </div>
      <div class="material_link">
        <div class="row">
          <div class="col-md-10 col-sm-10 col-xs-12 col-lg-10">
            <label for="link">Link:</label>
            <%= f.url_field :link, class: 'form-control', placeholder:'Enter the web address of material you would like to share'%>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="material_keywords col-md-10 col-sm-10 col-xs-12 col-lg-10">
          <label for="keywords">Select applicable keywords:</label>
          <div class="keywords_list">
            <% @top_keywords.each do |keyword| %>
              <div class="keyword_item">
                <%= f.check_box :keywords, { :multiple => true, id: keyword }, keyword  %>
                <label for="<%= keyword %>"> <%= keyword %> </label>
              </div>
            <% end %>
            <p>
              Other Keywords:
              <%= text_field_tag(:other_keywords) %>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="material_summary col-md-10 col-sm-10 col-xs-12 col-lg-10">
          <label for="summary">Write a brief summary of this material:</label>
          <%= f.text_area :summary, class: 'form-control', placeholder: "Write a brief summary of this material" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-8 col-xs-offset-2 col-lg-6">
          <%= f.submit "Next Page", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<%= javascript_include_tag 'material_form2' %>
