<div class="new_post_form">
  <% if current_user %>
    <div id="post_prompt">
      <p>➕ Post a question or comment about this <%= yield(:discussion_type) %></p>
    </div>
    <div id="post_form" class="hidden">
      <% if yield(:discussion_type) == 'material' %>
        <%= form_for(@material.posts.build) do |f| %>
          <%= hidden_field_tag :postable_type, 'material' %>
          <%= hidden_field_tag :material_id, @material.id %>
          <div class="new_post_input input-group">
            <%= f.text_area :content, placeholder: "Type question or comment here." %>
            <%= f.submit "Post" %>
          </div>
        <% end %>
      <% elsif yield(:discussion_type) == 'topic' %>
      <%= form_for(@topic.posts.build) do |f| %>
        <%= hidden_field_tag :postable_type, 'topic' %>
        <%= hidden_field_tag :topic_id, @topic.id %>
        <div class="new_post_input input-group">
          <%= f.text_area :content, placeholder: "Type question or comment here." %>
          <%= f.submit "Post" %>
        </div>
      <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="login_register">
      <%= link_to "Log in", login_path %> or <%= link_to "register", signup_path %> to post on this discussion.
    </div>

  <% end %>

</div>
