


<div class="row">
  <%= form_tag("/materials", method: "post") do %>
    <div class="col-sm-6 col-sm-offset-3">
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <%= text_field_tag 'search_terms', nil, {class: 'form-control input-lg', placeholder: "Search by topic or keyword"} %>
            <span class="input-group-btn">
              <button class="btn btn-primary btn-lg" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row center">
  <%= link_to "Advanced search", search_path %>
</div>
