<div class="similar_material">
  <a href="<%= material_path(material) %>">
    <div class="row material_show_title_rating_button">
      <div class="col-md-2 col-lg-2 col-sm-3 content_type_icon">
        <div class="material_content_type_icon">
          <p>
            <%=  image_tag("#{material.content_type}.svg", :class => "center-block") %>
          </p>
          <p>
            <%= material.content_type %>
          </p>
        </div>
      </div>
      <div class="col-md-10 col-lg-10 col-sm-9 material_show_title">
        <h3>
          <span class="material-title">
            <%= material.title %>
          </span>
        </h3>
      </div>
    </div>
    <div class="row material_summary_box">
      <ul>
        <li>
          <!-- note: width px is hardcoded to fit height px (see custom.css) -->
          <% if material.average_rating %>
            <div class="material_rating">
              <span class="five_stars" style="width:<%= material.average_rating/5 * 77.8 %>px"></span>
              <span class="zero_stars" style="width:<%= (5 - material.average_rating)/5 * 77.8 %>px; background:<% material.average_rating/5 * 77.8 %>px"></span>
              </div>
          <% end %>
        </li>
        <li class="hidden-sm">
          <em>
            <%= material.topic.parent.parent.name %> >>
            <%= material.topic.parent.name %> >>
            <%= material.topic.name %>
          </em>
        </li>
        <li class="hidden-sm">
          Average Time: <%= time_convert(material.time_required) %>
        </li>
        <li >
          Grade Level: <%= material.grade_level %>
        </li>
      </ul>
    </div>
  </a>
</div>
<br/>
