<% @user ||= current_user %>
<div class="stats">
  <ul>
    <% if @user.grades_taught.any? %>
      <li>
        <span class="stat_label">Grades Taught: </span><%= grades_display(@user.grades_taught) %>
      </li>
    <% end %>
    <% if @user.topic_ids.any? %>
      <li>
        <span class="stat_label">Topics Taught: </span><%= user_topics(@user.topic_ids) %>
      </li>
    <% end %>
    <li>
        <span class="stat_label">Materials Shared: </span><%= @user.materials.count %>
      </li>


      <li>
        <span class="stat_label">Posts: </span><%= @user.posts.count %>
      </li>


      <li>
        <span class="stat_label">Comments: </span><%= @user.comments.count %>
      </li>

    <li>
      <a href="<%= following_user_path(@user) %>">
        <strong id="following" class="stat">
          <%= @user.following.count %>
        </strong>
        following
      </a>
      <a href="<%= followers_user_path(@user) %>">
        <strong id="followers" class="stat">
          <%= @user.followers.count %>
        </strong>
        followers
      </a>
    </li>
  </ul>

</div>
