<div class="topic_box">
  <ul>
    <li>
      <span class="topic_label">
        Subject:
      </span>
      <span class="topic_fill">
        <%= @material.topic.parent.parent.name %>
      </span>
    </li>
    <li>
      <span class="topic_label">
        Course:
      </span>
      <span class="topic_fill">
        <%= @material.topic.parent.name %>
      </span>
    </li>
    <li>
      <span class="topic_label">
        Topic:
      </span>
      <span class="topic_fill">
        <%= @material.topic.name %>
      </span>
    </li>
  </ul>
</div>
