<div class="topic_material">
  <a href="<%= material_path(material) %>">
    <h3>
      <%= material.title %>
    </h3>
    <span class="material_rating">
      <ul>
        <li>
          <!-- note: width px is hardcoded to fit height px (see custom.css) -->
          <% if material.average_rating %>
            <span class="five_stars" style="width:<%= material.average_rating/5 * 77.8 %>px"></span>
            <span class="zero_stars" style="width:<%= (5 - material.average_rating)/5 * 77.8 %>px; background:<% material.average_rating/5 * 77.8 %>px"></span>
          <% end %>
        </li>
      </ul>
    </span>
      <p>Grade Level: <%= material.grade_level %></p>

  </a>
</div>
