$(document).ready(function(){
  sessionStorage.clear();
  var divs = $('.user_courses > div')
  $.each(divs, function(index, div) {
    subject = div.id.replace('_div', '');
    courses = [];
    var inputs = $(`#${div.id} input`)
    $.each(inputs, function(index, input) {
      courses.push(input.id)
    });
    sessionStorage.setItem(subject, JSON.stringify(courses))
  })

});

var topics = $('.topic_checkbox input');

topics.on('change', function(){
  var expand1 = $('.expand1');
  var subject = this.value;
  if (sessionStorage[subject.replace(/\s+/g, '')]) {
    sessionStorage.removeItem(subject.replace(/\s+/g, ''));
    $("#" + subject.replace(/\s+/g, '') + '_div').remove();
  }
  else {
    $.ajax({
      url: "/subtopic",
      type: 'GET',
      data: "subject=" + subject
    }).done(function(data) {
      var courses = JSON.stringify(data);
      sessionStorage.setItem(subject.replace(/\s+/g, ''), courses);
      handleCourses()
    })
  }
})

function handleCourses() {
  var subjects_div = document.querySelector('.user_courses');
  data = sessionStorage;

  for (var i = 0; i < data.length; i++ ) {
    var subject = data.key(i);
    if($("#" + subject.replace(/\s+/g, '') + '_div').length == 0) {
      var subject_div = document.createElement('div');
      subject_div.id = subject.replace(/\s+/g, '') + '_div';
      var label = document.createElement('label');
      label.textContent = subject.replace(/([a-z])([A-Z]|an)/g, '$1 $2') + ' Courses Taught';
      course_div = document.createElement('div');
      course_div.classList.add('user_topics');
      var courses = JSON.parse(data[subject]);
      html = courses.map(function(course) {
        return `<div class="topic_checkbox course_checkbox">
          <input type="checkbox" name="topics[]" id="${course}" value="${course}">
          <label for="${course}">${course}</label>
        </div>`
      }).join('');
      course_div.innerHTML = html;
      subject_div.appendChild(label);
      subject_div.appendChild(course_div);
      subjects_div.appendChild(subject_div);
    };
  };
};
