<% if !post.content.nil? && !post.content.empty? %>
<div class="post_card">
  <div class="post_comment_count">
    <%= link_to post.comments.count, post %>
  </div>
  <div class="post_content">
    <h3><%= link_to truncate(post.content, length: 150), post %></h3>
  </div>
  <div class="post_user_info">
    Posted by <%= link_to post.user.name, post.user %> <%= time_ago_in_words(post.created_at) %> ago.
    <% if post.comments.any? %>
      Most recent comment by  <%= link_to post.comments.last.user.name, post.comments.last.user %> <%= time_ago_in_words(post.comments.last.created_at) %> ago.
    <% else %>
      No comments yet.
    <% end %>
  </div>

</div>
<% end %>
