<% provide(:title, truncate(@post.content, length: 40)) %>

<div class="row post_show">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="row post_postable_type">
      <p>
        <% if @post.postable_type == 'Material' %>
          <a href="<%= discussion_material_path(@postable) %>">
            ⬅ Back to discussion for <u><%= @post.postable.title %></u>
          </a>
        <% elsif @post.postable_type == 'Topic' %>
          <a href="<%= discussion_topic_path(@postable) %>">
            ⬅ Back to discussion for <u><%= @post.postable.name %></u>
          </a>
        <% end %>
      </p>
    </div>
    <div class="row post_content">
      <h1><%= @post.content %></h1>
      <span class="post_user">
        Posted by <%= link_to @post.user.name, @post.user %> <%= time_ago_in_words(@post.created_at) %> ago.
      </span>
      <span class="post_follow_button">
        <%= link_to 'Follow this dicussion' %>
      </span>
    </div>
    <div class="row post_comments">
      <% if @post.comments.any? %>
        <%= render @comments %>
      <% else %>
        <br/>
        <span class="no_comments">  <p><em>There are no comments for this post yet.</em></p>
        </span>
        <br/>
      <% end %>
    </div>
    <div class="row comment_form">
      <% if current_user %>
        <h1>Add a comment to this discussion:</h1>
        <p>Posting as <%= link_to current_user.name, current_user %></p>
        <%= form_for(@post.comments.build) do |f| %>
          <%= hidden_field_tag :post_id, @post.id %>
          <div class="new_comment_input">
            <%= f.text_area :content, placeholder: "Type comment here." %>
            <%= f.submit "Comment" %>
          </div>
        <% end %>
      <% else %>
        <%= link_to "Log in", login_path %> or <%= link_to "register", signup_path %> to comment on this post.
      <% end %>
    </div>
  </div>
</div>
