@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
$background-grey: #fafafa;
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
$yellow: #FFC40E;

/* universal */
body {
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-align: center;
}


/* header styles */
header {
  background-color: #e3f2fd;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: black;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: black;
  }
}
.icon-bar {
  background-color: black;
}

/* footer */
footer {

  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      background-color: white;
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* styles for development debugs */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

// remember me checkbox on login page
#session_remember_me {
  width: auto;
  margin-left: 0;
}

// Styles for home page for non-logged in user
.home_page {
  h3 {
    font-weight: normal;
  }
}

// styles for home page for logged in users
.user_home  {
  h2 {
    font-weight: bold;
    font-size: 1.6em;
    text-align: left;
  }
  h3 {
    text-align: left;
  }
  .user_info {
    margin-bottom: 10px;
  }
  .user_activity {
    border: 1px solid #ccc
  }
  .following_materials {
    padding-top: 10px;
    display: table;
    border-top: 1px solid $gray-lighter;
    .home_material {
      display: table-cell;
      width: 19%;
      padding-top: 0;
      text-align: center;
      height: 100%;
      font-size: 0.8em;
      border: 1px solid #ccc;
      background-color: $background-grey;
      margin: 15px;
      a {
        color: black;
      }
      div {
        margin: 3px;
      }
      h3 {
        margin: 0 5px;
        font-size: 1.3em;
        font-weight: 500;
        a {
          color: darkblue;
        }
      }
      .home_material_content_type_icon {
        img {
          height: 30px;
        }
        p {
          margin: 0;
        }
        a {
          text-decoration: none;
        }
        font-size: 0.8em;
      }
      .home_material_user {
        font-size: 0.9em;
      }
    }
  }
  .home_user_alert {
    display: inline-block;
    font-size: 1.2em;
    margin: 20px 30%;
    width: 40%;
    border: 1px solid pink;
    padding: 5px;
  }
  .similar_material {
    font-size: 0.8em;
    background-color: $background-grey;
    border: 1px solid #bbb;
    padding: 13px;
    margin: 0 15px;
    padding-left: 15px;
    h3 {
      text-align: left;
      font-size: 1.2em;
      margin: 0;
      font-weight: 400;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-top: 6px;
      li {
        text-align: center;
      }
    }
    a {
      display: block;
      text-decoration: none;
      color: black;
    }
    .material_content_type_icon {
      display: inline-block;
      img {
        align-items: center;
        height: 20px;
      }
      p {
        margin: 0;
        text-align: center;
        padding: 0;
        font-size: 0.6em;
      }
    }
    .material_summary_box{
      .five_stars {
        background: url('/assets/5stars.svg');
        display: inline-block;
        height: 16px;
        background-size: auto 16px;
        margin-right: -4px;
      }
      .zero_stars {
        transform: scaleX(-1);
        background: url('/assets/0stars.svg');
        display: inline-block;
        height: 16px;
        background-size: auto 16px;
      }
    }
  }
}

// Styles for user signup and profile edit pages
.user_form {
  label {
    font-size: 1.2em;
  }
  .grade_level {
    margin-bottom: 10px;
    .grade_checkbox {
      float: left;
      width: 100px;
    }
    input {
      display: inline;
      width: auto;
    }
    label {
      font-size: 0.9em;
      display: inline;
      font-weight: normal;
    }
  }
  .user_topics {
    width: 600px;
    margin-left: 60px;
    margin-bottom: 10px;
    .topic_checkbox {
      display: inline-block;
      width: 200px;
      input {
        display: inline;
        width: auto;
      }
      label {
        font-size: 0.9em;
        display: inline;
        font-weight: normal;
      }
    }
  }
  .course_checkbox {
    label {
      font-size: 1.3rem !important;
    }
  }
}

// styles for user login pages
.login_form {
  label {
    font-size: 1.1em;
  }
}

// styles for users index
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

//styles for material create form
.material_form {
  .link_or_file {
    text-align: center;
  }
  p {
    font-size: 1.3em;
    font-weight: bold;
  }
  label {
    font-size: 1.3em;
  }
  li {
    list-style: none;
    font-size: 1.2em;
  }
  textarea {
    height: 220px;
  }
  .material_keywords {
    .keywords_list {
      margin: 0 auto;
      width: 600px;
      .keyword_item {
        font-size: 0.7em;
        display: inline-block;
        width: 22%;
        vertical-align: middle;
        input {
          width: 20px;
        }

      }
    }
    p {
      padding-left: 10%;
      padding-top: 2%;
      font-size: 1em;
      font-weight: normal;
    }
    input {
      width: 60%;
      display: inline;
    }

  }
  .first_review_form {
    textarea {
      height: 150px;
    }
    select {
      display: inline;
      width: auto;
    }
    p {
      font-size: 1.1em;
      font-weight: normal;
    }
    ul {
      list-style: none;
    }
  }
  .material_form_asterick {
    display: inline-block;
    float: right;
    bottom: 100px;
    position: absolute;

  }
}

// styles to align file icons that show up when file is uploaded onto material form
.file_preview_list {
  li {
    font-size: 0.9em;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .file_preview_item {
    li {
      display: block;
      width: 75px;
    }
    img {
      height: 40px;
    }
  }
}

// styles for first review, 3rd page of material create form
.review_form {
  textarea {
    height: 150px;
  }
  label {
    font-size: 1.2em;
  }
  .rating_label {
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
  }
  select {
    display: inline;
    width: auto;
  }
  p {
    font-size: 1.1em;
    font-weight: normal;
  }
  ul {
    list-style: none;
  }
  .similar_material {
    .material_summary_box {
      .five_stars {
        display: none;
      }
      .zero_stars {
        display: none;
      }
    }
    font-size: 0.9em;
    background-color: $background-grey;
    border: 1px solid #bbb;
    padding: 13px;
    padding-left: 15px;
    h3 {
      text-align: left;
      font-size: 1.3em;
      margin: 0;
      font-weight: 600;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-top: 6px;
      li {
        text-align: center;
      }
    }
    a {
      display: block;
      text-decoration: none;
      color: black;
    }
    .material_content_type_icon {
      display: inline-block;
      img {
        align-items: center;
        height: 20px;
      }
      p {
        margin: 0;
        text-align: center;
        padding: 0;
        font-size: 0.6em;
      }
    }
  }
  .review_stars {
    width: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    input {
      display: none;
      &:checked {
        & ~ label {
          color: $yellow;
        }
      }
      & + label {
        font-size: 0;
        &:before {
          content: '★';
          font-size: 3rem;
        }
        &[for="star5"] { order: 5; }
        &[for="star4"] { order: 4; }
        &[for="star3"] { order: 3; }
        &[for="star2"] { order: 2; }
        &[for="star1"] { order: 1; }
        &:hover, &:hover ~ label {
          color: lighten($yellow,20%);
        }
      }
    }
  }
}

/* styles for search results for topic in material form page 1 */
.search {
  position: relative;
  width: 100%;
  display: flex;
  &_results {
    margin-top: -15px;
    background: white;
    position: absolute;
    width: 100%;
    top: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 5;
  }
  &_input {
    font-size: 30px;
    background: none;
    color: white;
    outline: 0;
    border: 0;
  }
  &_result {
    padding: 3px;
    display: block;
    border-bottom: 1px solid #ececec;
    cursor: pointer;
    &-active {
      background: #f1f1f1;
    }
  }
}

// styles for materials index / rendering list of results for material search
.materials {
  list-style: none;
  padding: 0;
  .material_content_type_icon {
    display: inline-block;
    img {
      align-items: center;
      height: 30px;
    }
    p {
      margin: 0;
      text-align: center;
      padding: 0;
      font-size: 0.7em;
    }
  }
  .material_title {
    font-size: 1.4em;
    font-weight: bold;
    a {
      color: darkblue;
    }
  }
  .material_rating {
    font-size: 0.8em;
  }
  .material_list_item {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    .materaial_summary_topic_user {
      li {
        font-size: 1em;
      }
    }
    li {
      font-size: 0.9em;
    }
  }
}

// Styles for the search bar on the header
.search_header {
  display: block;
  .results_length {
    display: inline-block;
    margin-bottom: 5px;
  }
  .sort_options {
    float: right;
    display: inline-block;
    select {
      font-size: 0.9em;
      display: inline;
      width: auto;
    }
  }
}

// style for individual material show pages
.material_show {
  h2, h3 {
    text-align: left;
  }
  .material_show_title {
    display: inline-block;
    width: 65%;
    h2 {
      font-weight: bold;
    }
    a {
      color: black;

    }
  }
  .title_review_summary_box {
    padding-left: 25px;
  }
  .material_content_type_icon {
    display: inline-block;
    img {
      align-items: center;
      height: 40px;
      margin-top: 30px;
    }
    p {
      margin: 0;
      text-align: center;
      padding: 0;
      font-size: 0.8em;
    }
  }
  .review_btn_box {
    display: inline-block;
    width: 130px;
    margin-top: 25px;
    #review_button {
      font-size: 0.9em;
      white-space: normal;
      display: block;
    }
  }
  #review_count, #post_count {
    cursor: pointer;
  }
  .material_show_reviews {
    margin-top: 10px;
    border: 1px solid #bbb;
    h3 {
      text-align: center;
    }
    .material_review {
      border: 1px solid #bbb;
      background-color: $background-grey;
      margin: 15px;
      padding: 15px;
      ul {
        margin: 0;
        list-style: none;
        padding: 0;
      }
      .material_rating {

      }
      .five_stars {
        margin-right: -4px;
        background: url('/assets/5stars.svg');
        display: inline-block;
        height: 20px;
        background-size: auto 20px;
      }
      .zero_stars {
        transform: scaleX(-1);
        background: url('/assets/0stars.svg');
        display: inline-block;
        height: 20px;
        background-size: auto 20px;
      }
    }

  }
}

// Style for full on discusion page
.discussion_show {
  a {
    color: darkblue;
  }
  h2 {
    margin-bottom: 2rem;
  }

}

//styles for the discussion box on the material show pages
.discussion_box {
  background: $background-grey;
  position: relative;
  opacity: 0.99;
  z-index: 0;
  padding: 0 30px;
  border: 1px solid #bbb;
  margin-top: 10px;
  a {
    color: black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    font-weight: 600;
  }
  .discussion_button {
    text-align: center;
    margin-bottom: 1rem;
    a {
      border: 1px solid #bbb;
      &:hover {
        background: #bbb;
      }
    }
  }
  h3 {
    text-align: center;
  }

}

.login_register {
  text-align: center;
  border: 1px solid pink;
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
  a {
    color: #337ab7;
    text-decoration: auto;
  }
}

// Styles for adding new post form
.new_post_form {
  #post_prompt {
    color: red;
    cursor: pointer;
  }
  p {
    border-bottom: 1px solid #999;
  }
  .new_post_input {
    display: flex;
    margin-bottom: 1rem;
    textarea {
      flex: 1 0 90%
    }
    input {
      background-color: lightblue;
      flex: 1 1;
    }
  }
}

// Styles for listing posts on discussion pages
.post_card {
  margin-bottom: 1rem;
  .post_comment_count {
    background: #4a90e2;
    border-radius: 50%;
    display: inline-block;
    font-weight: 900;
    font-size: 1.2em;
    height: 3rem;
    line-height: 3rem;
    margin-right: 1rem;
    text-align: center;
    width: 3rem;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  .post_content {
    display: inline-block;
    h3 {
      margin: 0;
      font-size: 1.3em;
    }
    a {
      color: black;
    }
  }
  .post_user_info {
    margin-left: 4.5rem;
    font-size: 0.8em;
    color: #555;
  }
}

// These styles used for both material show pages and material index page
.material_summary_box {
  img {
    height: 40px
  }
  li {
    display: block;
    color: #555;
    a {
      color: #444;
    }
  }
  ul {
    padding: 0;
    list-style: none;
  }
  p {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-bottom: -2px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .material_rating {
    margin-bottom: 5px;
  }
  .material_summary_fill {
    display: inline-block;
    float: right;
    font-weight: normal;
  }
  .five_stars {
    margin-right: -4px;
    background: url('/assets/5stars.svg');
    display: inline-block;
    height: 20px;
    background-size: auto 20px;
  }
  .zero_stars {
    transform: scaleX(-1);
    background: url('/assets/0stars.svg');
    display: inline-block;
    height: 20px;
    background-size: auto 20px;
  }
}

// styles for similar materials aside on material show page
.similar_materials{
  padding: 15px;
  margin-top: 35px;
  border: 1px solid #bbb;
  h3 {
    margin-top: 0;
    text-align: center;
    font-weight: 500;
    font-size: 1.4em;
  }
  .similar_material {
    font-size: 0.8em;
    background-color: $background-grey;
    border: 1px solid #bbb;
    padding: 13px;
    padding-left: 15px;
    h3 {
      text-align: left;
      font-size: 1.2em;
      margin: 0;
      font-weight: 400;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-top: 6px;
      li {
        text-align: center;
      }
    }
    a {
      display: block;
      text-decoration: none;
      color: black;
    }
    .material_content_type_icon {
      display: inline-block;
      img {
        align-items: center;
        height: 20px;
      }
      p {
        margin: 0;
        text-align: center;
        padding: 0;
        font-size: 0.6em;
      }
    }
    .material_summary_box{
      .five_stars {
        background: url('/assets/5stars.svg');
        display: inline-block;
        height: 16px;
        background-size: auto 16px;
        margin-right: -4px;
      }
      .zero_stars {
        transform: scaleX(-1);
        background: url('/assets/0stars.svg');
        display: inline-block;
        height: 16px;
        background-size: auto 16px;
      }
    }
  }
}

// styles for the 'advanced search' full page form 'search_form.html.erb'
.search_form {
  margin-top: 20px;
  p {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0;
  }
  .course_topic {
    margin-left: 10px;
  }
  .file_content_types {
    margin-left: 35px;
    label {
      font-weight: 500;
    }
    .content_type_checkbox {
      width: 32%;
      font-size: 1em;
      display: inline-block;
      vertical-align: middle;
      input {
        width: auto;
      }
    }
  }
  .grade_levels {
    margin-left: 10px;
    label {
      font-weight: 500;
      margin-right: 5px;
    }
    .grade_checkbox {
      font-size: 0.9em;
      display: inline-block;
      vertical-align: middle;
      input {
        width: auto;
      }
    }
  }
  .time_required {
    .time_min, .time_max {
      margin-left: 15px;
      p {
        strong {
          font-size: 1.1em;
        }
        font-weight: 500;
        font-size: 1em;
      }
      select {
        margin-left: 5px;
        display: inline;
        width: auto;
      }
    }
  }
}

// styles for search filters sidebar with page showing search results
.search_options {
  background: $gray-medium-light;
  margin-top: 55px;
  font-size: 1em;
  padding: 25px;
  border: 1px solid #bbb;
  h3 {
    font-weight: 600;
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 20px;
  }
  p {
    margin: 0;
    font-weight: 600;
    font-size: 1.2em;
  }
  .topic_options {
    .search_results {
      width: 60%;
      margin-left: 20%
    }
    label {
      display: inline-block;
      font-weight: 500;
      width: 22%;
      font-size: 0.9em;
    }
    select {
      width: 70%;
      margin-bottom: 5px;
      margin-left: 5px;
      display: inline;
      font-weight: normal;
      font-size: 0.9em;
    }
    input {
      width: 70%;
      display: inline;
      margin-bottom: 5px;
      margin-left: 5px;

      font-weight: normal;
      font-size: 0.9em;
    }
  }
  .content_types {
    label {
      font-size: 0.9em;
      display: inline;
      font-weight: normal;
    }
    input {
      width: auto;
      display: inline;
    }
  }
  .grade_level {
    input {
      display: inline;
      width: auto;
    }
    label {
      font-size: 0.9em;
      display: inline;
      font-weight: normal;
    }
  }
  .time_required {
    .time_min, .time_max {
      margin-left: 15px;
      p {
        strong {
          font-size: 1em;
          font-weight: 500;
        }
        font-weight: normal;
        font-size: 0.9em;
      }
      select {
        margin-left: 5px;
        display: inline;
        width: auto;
      }
    }
  }

}

// styles for individual topic pages
.topic_show {
  position: relative;
  z-index: 1;
  h3 {
    font-size: 1.6em;
    text-align: left;
  }
  // ul styles for content type icons
  > ul {
    list-style: none;
    padding-left: 20px;
    > li {
      cursor: pointer;
      vertical-align: top;
      padding: 5px;
      margin-bottom: 10px;
      border: 1px solid;
      display: inline-block;
      width: 120px;
      height: 130px;
      min-height: 6rem;
      text-align: center;

      > a {
        color: black;
        vertical-align: middle;
        font-weight: bold;
        font-size: 1.1em;
        text-decoration: none;
      }
    }
  }
  input {
    white-space: normal;
    font-weight: 600;
    font-size: 1.1em;
    border: none;
    margin-bottom: 0
  }
  img {
    cursor: pointer;
    height: 70px;
  }
  // topic_children span styles for related course and subtopic list on subject/course pages
  .topic_children {
    margin-left: 2rem;
    display: block;
  }
  .topic_content_type {
    cursor: auto;
    float: left;
    background-color: $gray-medium-light;
    border: 1px solid #bbb;
    display: none;
    position: absolute;
    padding: 5px;
    margin: 5px;
    width: 250px;
    h3 {
      text-align: left;
      margin-top: 0;
      font-weight: 500;
      font-size: 1.4em;
    }
    .topic_material {
      vertical-align: top;
      display: block;
      width: 90%;
      font-size: 0.8em;
      padding: 10px;
      margin: 11px;
      background-color: $background-grey;
      border: 1px solid #bbb;
      h3 {
        font-size: 1.2em;
        margin: 0;
        font-weight: 400;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-top: 6px;
        li {
          text-align: center;
        }
      }
      a {
        display: block;
        text-decoration: none;
        color: black;
        align-items: center;
      }
      .material_rating{
        display: block;
        width: 100%;
        margin: 0 auto;
        li {
          margin: 0 auto;
        }
        .five_stars {
          background: url('/assets/5stars.svg');
          display: inline-block;
          height: 16px;
          background-size: auto 16px;
          margin-right: -4px;
        }
        .zero_stars {
          transform: scaleX(-1);
          background: url('/assets/0stars.svg');
          display: inline-block;
          height: 16px;
          background-size: auto 16px;
        }
      }
    }
  }
  .trigger-active {
    transform: scale(1.2);
    opacity: 1;
    z-index: 10;
    background-color: white;
  }
  .trigger-active .topic_content_type {
    display: block;
    opacity: 1;
    z-index: 10;
    .topic_material {
      display: block;
      opacity: 1;
      z-index: 10;
    }
  }
}

// Styles for individual post pages
.post_show {
  .post_postable_type {
    font-size: 1.1em;
    border-bottom: 1px solid #ccc;
    a {
      color: #555;
      text-decoration: none;
    }
  }
  .post_content {
    h1 {
      font-size: 1.7em;
      text-align: left;
    }
    .post_user {
      color: #888;
      margin-left: 1rem;
    }
    .post_follow_button {
      float: right;
    }
  }
  .post_comments {
    .no_comments {
      text-align: center;
    }
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 1rem;
  }
  .comment_form {
    margin-left: 2rem;
    margin-top: 1rem;
    h1 {
      font-size: 1.5em;
      text-align: left;
    }
    p {
      display: inline-block;
      margin: 0;
      font-size: 0.8em;
      color: #555;
    }
    .new_comment_input {
      input {
        width: auto;
        background-color: lightblue;
        font-weight: 500;
        &:hover {
          background: #bbb;
        }
      }
      textarea {
        margin-bottom: 4px;
      }
    }
  }
}

// Styles for individual comments
.comment_card {
  margin: 10px 5px;
  .comment_gravatar {
    display: inline-block;
    vertical-align: top;
    img {
      border-radius: 50%;
      vertical-align: 1%;
    }
  }
  .comment_text {
    width: 90%;
    display: inline-block;
    .comment_content {
      font-size: 1.1em;
      margin-left: 3px;
    }
  }
  .comment_age {
    font-size: 0.8em;
    color: #666;
  }
}

// styles for stats
.stats {
  ul {
    list-style: none;
  }
  .stat_label {
    font-style: italic;
    font-weight: 600;
    min-width: 12.5rem;
    display: inline-block;
  }
}

// styles for subjects on topic index page
.topic_subject {
  a {
    color: black;
  }
  text-align: center;
  background: $background-grey;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 45%;
  height: auto;
  border: 1px solid $gray-medium-light;
  font-size: 1.7em;
  color: black;
  letter-spacing: 0px;
  padding-top: 15px;
  font-weight: bold;
  &:hover {
    a {
      color: darkblue;
      text-decoration: none;
    }

    background-color: $gray-medium-light;
  }
}
