<div class= "material_list_item" id="material-<%= material.id %>">
  <div class="row">
    <div class="col-md-2 col-lg-1 col-sm-2 col-xs-2 material_content_type_icon">
      <p>
        <%=  image_tag("#{material.content_type}.svg", :class => "center-block") %>
      </p>
      <p>
        <%= material.content_type %>
      </p>
    </div>
    <div class="col-md-10 col-lg-11 col-sm-10 col-xs-10">
      <div class="row material_show_title_rating">
        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 material_title">
          <strong><%= link_to material.title, material %></strong>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-8 material_summary_box">
          <!-- note: width px is hardcoded to fit height px (see custom.css) -->
          <% if material.reviews.any? %>
            <div class="material_rating">
              <span class="five_stars" style="width:<%= material.average_rating/5 * 97 %>px"></span>
              <span class="zero_stars" style="width:<%= (5-material.average_rating)/5 * 97 %>px; background:<% material.average_rating/5 * 97 %>px"></span>
              (<%= material.average_rating %>/5)
            </div>
          <% end %>
        </div>
      </div>
      <div class="row material_summary_box">
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-8 materaial_summary_topic_user">
          <ul>
            <li>
              <em>
                <%= link_to material.topic.parent.parent.name, material.topic.parent.parent %> >>
                <%= link_to material.topic.parent.name, material.topic.parent %> >>
                <%= link_to material.topic.name, material.topic %>
              </em>
            </li>
            <li>
              Shared by <%= link_to material.user.name, material.user %> <%= time_ago_in_words(material.created_at) %> ago
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
          <ul>
            <li>
              <p id="review_count">Reviews:
                <span class="material_summary_fill">
                  <%= material.reviews.count %>
                </span>

              </p>
            </li>
            <li>
              <p id="post_count">Discussion Posts:
                <span class="material_summary_fill">
                  <%= material.posts.count %>
                </span>

              </p>
            </li>
            <li>
              <p>
                Average Time:
                <span class="material_summary_fill">
                  <%= time_convert(material.time_required) %>
                </span>
              </p>
            </li>
            <li>
              <p>
                  Grade Level:
                <span class="material_summary_fill">
                  <%= material.grade_level %>
                </span>
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="summary">
        <strong>Summary: </strong>
        <%= truncate material.summary, length: 150 %>
        <%= link_to 'more', material %>
      </div>
    </div>
  </div>
</div>
