<% provide(:title, "Discussion of " + @material.title) %>
<% provide(:discussion_type, 'material') %>

<div class="row discussion_show">
  <h2>Discussion of <%= link_to @material.title, @material %> </h2>
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 review_form">
    <%= render partial: 'shared/similar_material_card', object: @material, as: :material %>
  </div>
  <div class="col-sm-8 col-xs-9 ">
    <%= render 'shared/discussion' %>
  </div>
</div>
<%= javascript_include_tag 'discussion' %>
