<% provide(:title, 'Materials') %>
<h1>Materials</h1>



<div class="row">
  <div class="col-lg-2 col-md-3 col-sm-4 hidden-xs">
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
    <div class="materials">
    <%= render @materials %>
  </div>
  </div>
</div>
