<% provide(:title, "Share Learning Materials") %>

<h1>Share a New Learning Material</h1>

<br/>

<div class="row material_form">
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <%= form_for(@material, url: '/upload') do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="row link_or_file">
        <div class="col-sm-5 link_button">
          <button type=button class="btn btn-lg btn-primary" id="link_button">
            Link to a Material?
          </button>
        </div>
        <div class="col-sm-5 file_button">
          <button type=button class="btn btn-lg btn-primary" id="file_button">
            Upload a Material?
          </button>
        </div>
        <div class="col-sm-2 both_button">
          <button type=button class="btn btn-md btn-primary" id="both_button">
            Or Both?
          </button>
        </div>
      </div>

      <br/>

      <div class="row file_link_upload expand1">
        <div class="col-sm-10 link_div hidden">
          <label for="link">Link:</label>
              <%= f.url_field :link, class: 'form-control', placeholder:'Enter the web address that you would like to share' %>
        </div>
        <div class="col-sm-6 file_div hidden">
          <label for="files">Upload:</label>
          <%= f.file_field :files, multiple: true , accept: 'image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf,.odt' %>
          <div>
            <ul class="file_preview_list">
            </ul>
          </div>
        </div>
      </div>

      <div class="row title_content_type expand2 hidden">
        <div class="col-xs-12">
          <label for="material_title">
            Title*:
          </label>
          <%= f.text_field :title, class: 'form-control', placeholder:'Give a title to this material' %>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
          <div class="file_content_types">
            <label for="material_content_type">
              Content Type*:
            </label>
            <%= f.select(:content_type, Material::Content_types, { :include_blank => true })
            %>
          </div>
        </div>
      </div>

      <div class="row subject_course_topic expand3 hidden">
        <div class="col-xs-12">
          <p> What course and topic is this material for? <p>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12">
            <label for="material_subject">
              Subject*:
            </label>
            <%= f.select(:subject , @subjects, {}, :class => 'subject') %>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12">
            <label for="material_course">
              Course*:
            </label>
            <%= f.select(:course, @courses, {}, :class => 'course') %>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-12">
            <label for="material_topic">
              Topic*:
            </label>
            <%= f.text_field(:topic, :autocomplete => "off") %>
            <div class="search_results">
            </div>
          </div>
        </div>
      </div>

      <div class="row summary_first_review expand4 hidden">
        <div class="col-xs-12">
          <div class="material_keywords row">
            <div class="col-sm-12">
            <label for="keywords">Select applicable keywords:</label>
              <div class="keywords_list">
                <% @top_keywords.each do |keyword| %>
                  <div class="keyword_item">
                    <%= f.check_box :keywords, { :multiple => true, id: keyword }, keyword  %>
                    <label for="<%= keyword %>"> <%= keyword %> </label>
                  </div>
                <% end %>
                <p>
                  Other Keywords:
                  <%= text_field_tag(:other_keywords) %>
                </p>
              </div>
            </div>
          </div>
          <div class="material_summary row">
            <div class="col-sm-12">
              <label for="summary">
                Write a brief summary of this material:
              </label>
              <%= f.text_area :summary, class: 'form-control', placeholder: "Write a brief summary of this material" %>
            </div>
          </div>
          <div class="first_review_form">
            <div class="row review_grade_levels">
              <div class="col-md-10 col-sm-10 col-xs-12 col-lg-10">
                <label for="review_grade_level_bottom">
                  Grade Levels:
                </label>
                <p>
                  This material is suitable for students from grades
                  <%= select_tag :grade_level_bottom, options_for_select(Material::Grades), include_blank: true %>
                  to
                  <%= select_tag :grade_level_top, options_for_select(Material::Grades), include_blank: true %>
                </p>
              </div>
            </div>
            <div class="row review_time_required">
              <div class="col-md-10 col-sm-10 col-xs-12 col-lg-10">
                <label for="review_time_required">
                  Time Required:
                </label>
                <%= f.hidden_field :time_required %>
                <p>
                  <%= f.select :hours, (0..12).to_a, :include_blank => true %> hours and
                  <%= f.select :minutes, (0..59).to_a, :include_blank => true %> minutes
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-xs-offset-3">
          <div class="material_submit">
            <%= f.submit "Add Material to Database", class: "btn btn-primary" %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
  <div class="col-xs-3 col-xs-offset-9 expand2 hidden">
    *required fields
  </div>
</div>

<%= javascript_include_tag 'material_form' %>
