<% provide(:title, "Search") %>

<h2>Search for Learning Materials:</h2>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="search_form">
      <%= form_tag("/materials", method: "post") do %>
        <div class="row search_bar">
          <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            <div class="input-group col-md-12">
              <%= text_field_tag 'search_terms', nil, {class: 'form-control input-lg', placeholder: "Search by topic or keyword"} %>

              <span class="input-group-btn">
                <button class="btn btn-primary btn-lg" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </span>
            </div>
          </div>
        </div>

        <div class="row topic">
          <div class="col-xs-11">
            <p> Filter by course or topic: </p>
            <div class="row course_topic">
              <div class="col-lg-4 col-md-4 col-sm-4 col-12 subject_indent">
                <%= label_tag :subject %>
                <%= select_tag(:subject, options_for_select(@subjects), {:include_blank => true}) %>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <%= label_tag :course %>
                <%= select_tag(:course) %>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                <%= label_tag :topic %>
                <%= select_tag(:topic) %>
                <div class="search_results">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row content_types">
          <div class="col-xs-12">
            <p>Filter by type of material:</p>
            <div class="row">
              <div class="file_content_types col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <% content_types = Material::Content_types %>
                <% content_types.each do |type| %>
                  <div class="content_type_checkbox">
                    <%= check_box_tag('types[]', type, nil, {multiple: true, id: type}) %>
                    <label for="<%= type %>"> <%= type %> </label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="row grade_level_time_required">
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-8">
            <p>Filter by grade level:</p>
            <div class="row grade_levels">
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-3">
                <% grades = ['preK', 'K', '1st', '2nd', '3rd', ] %>
                <% grades.each do |grade| %>
                  <div class="grade_checkbox">
                    <%= check_box_tag('grades[]', grade, nil, {multiple: true, id: grade}) %>
                    <label for="<%= grade %>"> <%= grade %> </label>
                  </div>
                <% end %>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <% grades = ['4th', '5th', '6th', '7th', '8th'] %>
                <% grades.each do |grade| %>
                  <div class="grade_checkbox">
                    <%= check_box_tag('grades[]', grade, nil, {multiple: true, id: grade}) %>
                    <label for="<%= grade %>"> <%= grade %> </label>
                  </div>
                <% end %>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-3">
                <% grades = ['9th', '10th', '11th', '12th'] %>
                <% grades.each do |grade| %>
                  <div class="grade_checkbox">
                    <%= check_box_tag('grades[]', grade, nil, {multiple: true, id: grade}) %>
                    <label for="<%= grade %>"> <%= grade %> </label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-6 col-xs-8 time_required">
            <p>Filter by time required:</p>
            <div class="time_min">
              <p>
                <strong>Minimum:  </strong>
              </p>
              <p>

                <%= select_tag :hours_min, options_for_select((0..12).to_a), {:include_blank => true } %> hours
                <%= select_tag :minutes_min, options_for_select((0..55).step(5).to_a), {:include_blank => true } %> minutes
              </p>
            </div>
            <div class="time_max">
              <p>
                <strong>Maximum:</strong>
              </p>
              <p class="time_indent">
                <%= select_tag :hours_max, options_for_select((0..12).to_a), {:include_blank => true } %> hours
                <%= select_tag :minutes_max, options_for_select((0..59).step(5).to_a), {:include_blank => true } %> minutes
              </p>
            </div>
          </div>
        </div>
        <br/>
        <div class="row submit">
          <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
            <%= submit_tag 'Search For Materials', class: 'btn btn-primary btn-lg' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%= javascript_include_tag 'search_options' %>
