<% provide(:title, "Search") %>
<%= Gon::Base.render_data %>


<div class="row">
  <%= form_tag("/materials", method: "post") do %>
  <div class="col-lg-3 col-md-4 col-sm-5 col-xs-10">
    <div class="search_options">
      <h3>Search Filters</h3>


        <div class="row search_bar">
          <div class="input-group col-xs-12">
            <%= text_field_tag 'search_terms', nil, {class: 'form-control input-md', placeholder: "Search by topic or keyword", value: @params[:search_terms]} %>

          </div>
        </div>
        <br/>
        <div class="row submit">
          <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-6 col-xs-offset-3">
            <%= submit_tag 'Update Search', class: 'btn btn-primary btn-md' %>
          </div>
        </div>
        <br/>
        <div class="row topic_options">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>
              <%= label_tag :subject %>
              <%= select_tag(:subject, options_for_select(@subjects, @params[:subject]), {:include_blank => true }) %>
            </p>
            <p>
              <%= label_tag :course %>
              <%= select_tag(:course, options_for_select(@courses, @params[:course]), {:include_blank => true }) %>
            </p>
            <p>
              <%= label_tag :topic %>
              <%= select_tag(:topic, options_for_select(@topics, @params[:topic]), {:include_blank => true }) %>
            </p>
            <div class="search_results">
            </div>
          </div>
        </div>
        <div class="row content_types">
            <p>Types:</p>
              <div class="file_content_types col-lg-10 col-md-10 col-sm-10 col-xs-12">
                <% content_types = Material::Content_types %>
                <% content_types.each do |type| %>
                  <div class="content_type_checkbox">
                    <% if @params[:types] %>
                      <% ch = @params[:types].include?(type) %>
                    <% end %>
                    <%= check_box_tag('types[]', type, nil, {multiple: true, id: type, checked: ch}) %>
                    <label for="<%= type %>"> <%= type %> </label>
                  </div>
                <% end %>
              </div>
        </div>
        <div class="row grade_level">
          <p>Grade Levels:</p>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
            <% grades = ['preK', 'K', '1st', '2nd', '3rd', '4th', '5th'] %>
            <% grades.each do |grade| %>
              <div class="grade_checkbox">
                <% if @params[:grades] %>
                  <% ch = @params[:grades].include?(grade) %>
                <% end %>
                <%= check_box_tag('grades[]', grade, nil, {multiple: true, id: grade, checked: ch}) %>
                <label for="<%= grade %>"> <%= grade %> </label>
              </div>
            <% end %>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <% grades = ['6th', '7th', '8th','9th', '10th', '11th', '12th'] %>
            <% grades.each do |grade| %>
              <div class="grade_checkbox">
                <% if @params[:grades] %>
                  <% ch = @params[:grades].include?(grade)  %>
                <% end %>
                <%= check_box_tag('grades[]', grade, nil, {multiple: true, id: grade, checked: ch}) %>
                <label for="<%= grade %>"> <%= grade %> </label>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row time_required">
          <p>Time required:</p>
          <div class="time_min">
            <p>
              <strong>Minimum:  </strong>
            </p>
            <p>
              <%= select_tag :hours_min, options_for_select((0..12).to_a, @params[:hours_min]), {:include_blank => true } %> hours
              <%= select_tag :minutes_min, options_for_select((0..55).step(5).to_a, @params[:minutes_min]), {:include_blank => true } %> minutes
            </p>
          </div>
          <div class="time_max">
            <p>
              <strong>Maximum:</strong>
            </p>
            <p>
              <%= select_tag :hours_max, options_for_select((0..12).to_a, @params[:hours_max]), {:include_blank => true } %> hours
              <%= select_tag :minutes_max, options_for_select((0..59).step(5).to_a, @params[:minutes_max]), {:include_blank => true } %> minutes
            </p>
          </div>
        </div>
        <div class="row submit">
          <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-6 col-xs-offset-3">
            <%= submit_tag 'Update Search', class: 'btn btn-primary btn-md' %>
          </div>
        </div>

    </div>
  </div>

  <div class="col-lg-8 col-md-8 col-sm-7 col-xs-10">
    <h2>Search for Learning Materials</h2>
    <div class="search_header">
      <div class="results_length">
        Your search returned <%= @length %> results.
        <% if @length > 100 %>
          <br>(Top 100 results shown below)
        <% end %>
      </div>
      <div class="sort_options">
        Sort by <%= select_tag :sort_options, options_for_select(['Average Rating','Search Ranking', 'Newest first', 'Oldest first', 'Time Req. Asc.', 'Time Req. Desc.'], @params[:sort_options]), {:onchange => "this.form.submit()"} %>
      </div>
    </div>

    <% end %>
    <div class="materials">
      <%= render @materials %>

    </div>
  </div>
</div>

<%= javascript_include_tag 'search_options' %>
