


<% provide(:title, @material.title) %>
<% provide(:discussion_type, 'material') %>


<div class="row">
  <div class="col-sm-9 col-xs-12 material_show">
    <div class="row material_show_title_rating_button">
      <div class="col-md-1 col-lg-1 col-sm-2 col-xs-2 content_type_icon">
        <div class="material_content_type_icon">
          <p>
            <%=  image_tag("#{@material.content_type}.svg", :class => "center-block") %>
          </p>
          <p>
            <%= @material.content_type %>
          </p>
        </div>
      </div>
      <div class="col-md-11 col-lg-11 col-sm-10 col-xs-10 title_review_summary_box">
        <div class="row material_title_review_btn">
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 material_show_title">
            <% if !@material.link.empty? %>
              <h2>
                <span class="material-title">
                  <%=  link_to @material.title, @material.link %>
                </span>
              </h2>
            <% else %>
              <h2>
                <span class="material-title">
                  <%= @material.title %>
                </span>
              </h2>
            <% end %>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 review_btn_box">
            <%= form_tag('/review', method: "post") do %>
              <%= hidden_field_tag :material_id, @material.id %>
              <%= button_tag class: "btn btn-md btn-info", id: "review_button" do %>
                Review this material
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="row material_summary_box">
          <div class="col-lg-6 col-md-6 col-sm-9 col-xs-10">
            <ul>
              <li>
                <!-- note: width px is hardcoded to fit height px (see custom.css) -->
                <% if @material.reviews.any? %>
                  <div class="material_rating">
                    <span class="five_stars" style="width:<%= @material.average_rating/5 * 97.27 %>px"></span>
                    <span class="zero_stars" style="width:<%= (5-@material.average_rating)/5 * 97.27 %>px; background:<% @material.average_rating/5 * 97.27 %>px"></span>
                    (<em>Average rating: </em><%= @material.average_rating %>/5)
                  </div>
                <% end %>
              </li>
              <li>
                <em>
                  <%= link_to @material.topic.parent.parent.name, @material.topic.parent.parent %> >>
                  <%= link_to @material.topic.parent.name, @material.topic.parent %> >>
                  <%= link_to @material.topic.name, @material.topic %>
                </em>
              </li>
              <li>
                Shared by <%= link_to @material.user.name, @material.user %> <%= time_ago_in_words(@material.created_at) %> ago
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-7 col-xs-8">
            <ul>
              <li>
                <a href="#">
                <p id="review_count">Reviews:
                  <span class="material_summary_fill">
                    <%= @material.reviews.count %>
                  </span>
                </p>
                </a>
              </li>
              <li>
                <a href="#">
                <p id="post_count">Discussion Posts:
                  <span class="material_summary_fill">
                    <%= @material.posts.count %>
                  </span>
                </p>
                </a>
              </li>
              <li>
                <p>
                  Average Time:
                  <span class="material_summary_fill">
                    <%= time_convert(@material.time_required) %>
                  </span>
                </p>
              </li>
              <li>
                <p>
                    Grade Level:
                  <span class="material_summary_fill">
                    <%= @material.grade_level %>
                  </span>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row material_show_video">
      <% if @material.content_type == 'Video'  && @material.link.include?('youtu') %>
        <br/>
        <div class="material_video center hidden-xs col-sm-11">
          <iframe allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"src="https://www.youtube.com/embed/<%= @material.yt_id %>">
          </iframe>
        </div>
      <% end %>
    </div>
    <div class="row material_show_summary">
      <% if !@material.summary.empty? %>
        <div class="material_summary col-xs-11">
          <h3>Summary: </h3>
          <%= @material.summary %>
        </div>
      <% end %>
    </div>
    <div class="row material_show_files">
      <% if !@material.files.empty? %>
        <div class="col-xs-11">
          <h3>Files:</h3>
          <ul class="file_preview_list">
            <% @material.files.each do |file| %>
              <li>
                <ul class="file_preview_item">
                  <li>
                    <%= link_to image_tag('/assets/document.svg'), file.url %>
                  </li>
                  <li>
                    <% index = file.file.path.rindex('/') + 1 %>
                    <%= link_to file.file.path[index..-1].split('_').map(&:capitalize).join(' '), file.url %>
                  </li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <br id="posts_div" />
    <div class="row materials_discussion">
      <div class="col-xs-11 col-sm-10 col-sm-offset-1 ">
        <%= render 'shared/discussion_box' %>
      </div>
    </div>
    <br id="reviews_div" />
    <div class="row materials_reviews">
      <div class="col-xs-11 col-sm-10 col-sm-offset-1">
        <% if @material.reviews.any? %>
          <div class=" material_show_reviews">
            <h3> Top <%= @reviews.count %> Reviews </h3>
            <%= render @reviews %>
          </div>
        <% else %>
        <br>
          <p>No reviews of this material yet</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-lg-3 col-sm-3 hidden-xs similar_materials">

        <h3>Similar Materials</h3>
        <%= render partial: 'shared/similar_material_card', collection: @similars, as: :material %>
    </div>
</div>


<%= javascript_include_tag 'material_show' %>
