<div id="review-<%= review.id %>" class="material_review">
  <ul>
    <li class="timestamp">
      Reviewed <%= time_ago_in_words(review.created_at) %> ago by <%= link_to review.user.name, review.user %>:
    </li>
    <li>
      <span class="review-content_type">
        <% if review.overall_rating %>
          <div class="material_rating">
            <span class="five_stars" style="width:<%= review.overall_rating/5.0 * 97.27 %>px">
            </span>
            <span class="zero_stars" style="width:<%= (5 - review.overall_rating)/5.0 * 97.27 %>px; background:<% review.overall_rating/5.0 * 97.27 %>px">
            </span>
          </div>
          <% end %>
      </span>
    </li>

    <li>
      <strong>Grade Level: </strong>
      <em><%= review.grade_level %></em>
    </li>

    <li>
      <strong>Time Required:</strong>
      <em><%= time_convert(review.time_required) %></em>
    </li>
    <% if review.suggestions && !review.suggestions.empty? %>
      <li class="suggestions">
        <strong>Suggestions: </strong>
        <%= truncate review.suggestions, length: 150 %>
      </li>
    <% end %>


  </ul>

</div>
