<% provide(:title, 'Review') %>

<h1>Review Material:</h1>

<div class="review_form">
  <div class="row">
    <%= form_for(@review, url: '/reviews') do  |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= hidden_field(:material, :id) %>
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
        <%= render partial: 'shared/similar_material_card', object: @material, as: :material %>

      </div>
      <div class="col-sm-8 col-xs-9 review_form">
        <div class="row review_overall_rating">
          <div class="col-md-10 col-sm-10 col-xs-12 col-lg-10">
            <span class="rating_label">
              Overall rating:
            </span>
            <div class="review_stars">

              <% ratings = [5,4,3,2,1] %>
              <% ratings.each do |rating| %>
                <%= f.radio_button :overall_rating, rating, { id: 'star' + rating.to_s } %>
                <%= f.label :overall_rating, rating.to_s + ' stars', { for: 'star' + rating.to_s }  %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row review_grade_levels">
          <div class="col-md-10 col-sm-10 col-xs-12 col-lg-10">
            <label for="review_grade_level_bottom">
              Grade Level:
            </label>
            <p>
              This material is suitable for students from grades
              <%= f.select :grade_level_bottom, (1..12).to_a.unshift("preK", 'K') %>
              to
              <%= f.select :grade_level_top, (1..12).to_a.unshift("preK", 'K'), :selected => '12'%>
            </p>
          </div>
        </div>
        <% if @review.material.content_type != "Video" %>
          <div class="row review_time_required">
          <div class="col-md-10 col-sm-10 col-xs-12 col-lg-10">
            <label for="review_time_required">
              Time Required:
            </label>
            <%= hidden_field :review, :time_required %>
            <p>
              This material requires about
              <%= f.select :hours, (0..12).to_a, {:include_blank => true }%> hours and
              <%= f.select :minutes, (0..55).step(5).to_a, {:include_blank => true }%> minutes
            </p>
          </div>
        </div>
        <% end %>
        <div class="row review_suggestions">
          <div class="col-md-10 col-sm-10 col-xs-12 col-lg-10">
            <label for="review_suggestions">
              Suggestions for this Material:
            </label>
            <%= f.text_area :suggestions %>
          </div>
        </div>
        <div class="row review_submit">
          <div class="col-md-8 col-sm-8 col-xs-8 col-xs-offset-2 col-lg-6">
            <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= javascript_include_tag 'review_form' %>
