
<header class="navbar navbar-fixed-top navbar-light">
    <nav>
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <!-- Button that toggles the navbar on and off on small screens -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">

        <!-- Hides information from screen readers -->
          <span class="sr-only"></span>

          <!-- Draws 3 bars in navbar button when in small mode -->
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li>
          <%= link_to "Teachable", root_path, id: "logo", class: "hidden-xs nav" %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="navbar-collapse-1">
        <li>
          <div class="nav navbar-nav navbar-center">

              <%= form_tag("/materials", method: "post", class:"navbar-form hidden-xs") do %>
                <div class="input-group">
                  <%= text_field_tag :search_terms, nil, placeholder: "Search for materials", class:"form-control" %>
                  <div class="input-group-btn">
                    <%= button_tag class: 'btn btn-default' do %>
                      <i class="glyphicon glyphicon-search"></i>
                    <% end %>
                  </div>
                </div>
              <% end %>
          </div>
        </li>
        <li><%= link_to "Search", search_path, class:"hidden-md hidden-sm hidden-lg" %></li>
    

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Browse <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Materials", materials_path %></li>
            <li><%= link_to "Subjects", topics_path %></li>
          </ul>
        </li>
        <% if logged_in? %>
          <li><%= link_to "Upload", upload_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Your Profile", current_user %></li>
              <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
            </ul>
          </li>

        <% else %>
          <li><%= link_to "Register", signup_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>

      </ul>

    </nav>
  </div>
</header>
